@font-face {
    font-family: Molengo-Regular-webfont;
    src: url('fonts/Molengo-Regular-webfont.ttf'),
         url('fonts/Molengo-Regular-webfont.eot');
}

@font-face {
    font-family:UbuntuTitling-Bold-webfont;
    src: url('fonts/UbuntuTitling-Bold-webfont.ttf'),
         url('fonts/UbuntuTitling-Bold-webfont.eot');
}

@font-face {
    font-family:Komika_display-webfont;
    src: url('fonts/Komika_display-webfont.ttf'),
         url('fonts/Komika_display-webfont.eot');
}


* {
    padding: 0;
    margin: 0;
}

html {
    height :100%; /*did this to get my wrapper fully vertically streched*/    
}

body {    
    width : 100%;
    height: 100%; /*That causes the page to have scrolls*/
    background: #343838;    
}

#controlPanel {
    float:left;
}

#poster {
    background :#008E9F;
    width : 175px;
    height : 52px;
    margin-top: 15px;
    margin-bottom: 13px;
    padding: 10px;
    box-shadow: 0px 0px 7px 1px #00202C;    
}

#poster h1{
    font-size: 42px;
    color :white;
    text-shadow: 0px -2px 1px darkslategray;
    font-family : Komika_display-webfont;
}

#MTControllers {
    background: #008E9F;
    width:460px;    
    box-shadow: 0px 0px 7px 1px #00202C;  
    padding : 15px;
    margin-bottom : 13px;
    overflow:auto;
}

#MTControllers input{
    font-family : Molengo-Regular-webfont;    
    font-size:16px; 
    width: 448px;
    height: 40px;
    border : none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px -3px black;    
    padding-left: 10px;        
    margin-bottom: 19px;
}

#MTControllers label{    
    margin: 5px 5px 0 5px;
    color : #F9F2E7;
    font-family : Molengo-Regular-webfont;    
    font-weight: bold;
    text-shadow: 1px 1px 2px black;

}

#MTControllers button {
    background: #8F2932;
    font-size : 20px;    
    font-weight: bold;    
    text-shadow: 1px 1px 5px black;
    color : #F9F2E7;
    width : 85px;
    height:40px;
    border-radius: 5px;
    margin : -5px 4px 0px 2px ;    
    border: none;
    box-shadow: 0px 4px 8px -3px black;
    font-family:UbuntuTitling-Bold-webfont;
    cursor:pointer;
    float : right;
}

#MTControllers button.inactiveInput {
    background: #9E8B8B;
    box-shadow: inset 2px 2px 2px #6E5C5C;
    color : #5B5B5B;
    text-shadow: 0px -1px 1px lightgrey;
    cursor : default;
}

#taskOptions {
    background: #008E9F;
    width:490px;    
    box-shadow: 0px 0px 7px 1px #00202C;   
    margin-bottom : 13px;
}

#taskInfo {
    background: #008E9F;
    width:490px;    
    box-shadow: 0px 0px 7px 1px #00202C;  
}

#tasksWrapper {
    background: #008E9F;
    width:680px;   
    padding: 10px 0 4px 0;    
    margin-left: 540px;
    box-shadow: 0px 0px 5px 2px #00202C;
    border-radius: 0 0 5px 5px;
}

.wholeTask {
    width:660px;  
    margin:auto;
    margin-bottom: 11px;
    padding: 13px 0;
    font-family : Molengo-Regular-webfont;
    background:#8ED6DF; 
    border-radius:5px;
    box-shadow: inset 2px 2px 1px 0px #005142;
}

.wholeTask button {
    float:right;
    margin-right: 8px; 
    border-radius: 5px;
    border : none;
    box-shadow: 0px 0px 1px 1px black;
    cursor : pointer;
}

.mainTask {  
    margin:auto;
    width:610px;
    font-size : 18px;
    background : #8ED6DF;    
    padding: 13px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #172224;   
    overflow:hidden;
}

.mainTask button{    
    width:50px;
    height : 30px;
    background : #008190;
    color :#C4F4F9;    
    text-shadow: 0px 1px 1px black;    
}

.mainTask button.inactiveMain {
    background : #97ADAF;
    color: #79898A;
    text-shadow: 0px -1px 1px lightgrey;
    cursor:default;
}

button.mainCheck {
    width:74px;   
    font-family : Komika_display-webfont;    
    font-size: 17px;
    padding:0 7px;
    background: #F04A47;
}

.subTask {    
    background: #008E9F;
    box-shadow: 0px 1px 1px 1px #172224;
    border-radius: 5px;
    width :570px;
    padding: 10px;
    margin-left: 56px;
    overflow:hidden;
}

.subTask button {         
    background: #00DCF7;
    width:50px;
    height : 20px;   
}

.subTask button.inactiveSub{
    background : #003941;
    color:darkslategray;
    cursor:default;
}

button.subCheck{
    background:#B03D14;
    font-family : Komika_display-webfont;  
    text-shadow: 0px 1px 1px black;    
    color:#FFF4F1;
    width:60px;
}